# ignore everything else
/* 

# DONT ignore .gitignore
!.gitignore

# DONT ignore the worlds folder and everything inside it
!worlds/
!worlds/**

# ignore cotinous logging
worlds/**/*.log
worlds/**/*.dat
worlds/**/db/

